{% extends "base.html" %}

{% block body %}

    <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <h1>Mama</h1>
            <div class="card">
                <div class="card-body">
                    <form action="regMat/" method="post">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="txtcodigo" name="txtcodigo" placeholder="codigo materia" minlenght="1" maxlenght="6" required>
                        </div>
                        <div class="form-group py-3">
                            <input type="text" id="txtnombre" name="txtnombre" placeholder="nombre materia" minlenght="1" maxlenght="100" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="numcreditos" name="numcreditos" placeholder="creditos materia" minlenght="1" maxlenght="9" value="1" required>
                        </div>
                        <div class="form-group py-4">
                            <button type="submit" class="btn btn-primary">Guardar materias</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <h1>Listado de materias</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Creditos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in mymaterias %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{m.codigo}}</td>
                            <td>{{m.nombre}}</td>
                            <td>{{m.creditos}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}